<?xml version='1.0' encoding='utf-8'?>
<widget id="com.bewithmyfamily" version="1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Be With My Family</name>
    <description>
        Your family on your phone.
    </description>
    <author email="orin@bewithmyfamily.com" href="http://bewithmyfamily.com">
        Orin Fink
    </author>
    <access origin="*" />

    <!-- Override PhoneGap default configurations here -->
    <preference name="UIWebViewBounce" value="false" />
    <preference name="AutoHideSplashScreen" value="true" />
    <preference name="KeyboardDisplayRequiresUserAction" value="false" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="webviewbounce" value="false" />
</widget>