<div ng-init="initCreatePage()">
<div id="container" class="container container-top">
    <div>
        <div class="col-xs-4 text-left">
            <ul class="pager mb10">
                <li class="previous">
                    <a href="#/event-list" ng-show="!eventId">Back</a>
                    <a href="#/event-detail?eventId={{eventId}}" ng-show="eventId">Back</a>
                </li>
            </ul>
        </div>
        <div class="col-xs-4 text-center">
            <h3 class="text-center">Event</h3>
        </div>
        <div class="col-xs-4 text-right">
        </div>
    </div>
</div>
<div>
    <hr class="hr-margin" />
</div>
<div class="container">
    <div>
        <form name="myForm" novalidate>
            <div class="form-group">
                <div>
                    <label class="control-label">
                        Event Title
                    </label>
                    <div ng-show="myForm.title.$dirty && myForm.title.$invalid" style="float:right; color: #ff7160">
                        Required
                    </div>
                </div>
                <input class="form-control" name="title" placeholder="Event Title" ng-model="event.title" maxlength="125" reqruied />
            </div>
            <div class="form-group">
                <label class="control-label">Date</label>
                <input id="eventDate" class="form-control" placeholder="Thu, Oct 16, 2015" ng-model="event.eventDate"/>
            </div>
            <div class="form-group">
                <label class="control-label">From</label>
                <input id="eventFrom" type="text" class="form-control" data-field="time" ng-model="event.eventFrom" />
                <div id="eventFromBox"></div>
            </div>
            <div class="form-group">
                <label class="control-label">To</label>
                <input id="eventTo" type="text" class="form-control" data-field="time" ng-model="event.eventTo"/>
                <div id="eventToBox"></div>
            </div>
            <div class="form-group">
                <label class="control-label">Share With</label>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Group Name" ng-model="event.group" disabled>
                    <span class="input-group-btn">
                        <a class="btn btn-default" href="javascript:void(0);" ng-click="goLookup()">Lookup</a>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Location (Optional)</label>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Enter Address" ng-model="event.address">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Map</button>
                    </span>
                </div>
            </div>
            <br />
            <div ng-show="edit">
                <div class="col-xs-6">
                    <button class="btn btn-primary btn-block" ng-click="createEvent(true)">Update</button>
                </div>
                <div class="col-xs-6">
                    <button class="btn btn-primary btn-block" ng-click="deleteEvent()">Delete</button>
                </div>
            </div>
            <div ng-show="!edit">
            <button type="submit" class="btn btn-primary btn-block" ng-click="createEvent(false)"
                    ng-disabled="myForm.title.$dirty && myForm.title.$invalid">Add</button>
            </div>
        </form>
    </div>
    <script>

    </script>
</div>
</div>