<div ng-init="initDetailPage()">
<div id="container" class="container container-top">
    <div>
        <div class="col-xs-4 text-left">
            <ul class="pager mb10">
                <li class="previous"><a href="#/event-list">Back</a></li>
            </ul>
        </div>
        <div class="col-xs-4 text-center">
            <h3 class="text-center">Event</h3>
        </div>
        <div class="col-xs-4 text-right">
            <ul class="pager mb10">
                <li class="next">
                    <a href="javascript:void(0);" ng-show="isOwner" ng-click="goEditPage();">Edit</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div>
    <hr class="hr-margin" />
</div>
<div class="container">
    <div ng-show="detailEvent.title" class="detail-shadow">
        <div>
            <h3>{{ detailEvent.title }}</h3>
            <h4>{{ detailEvent.eventDateTimeFrom }}</h4>
            <h4>{{ detailEvent.eventTimeFrom }} - {{ detailEvent.eventTimeTo }}</h4>
            <p>{{ detailEvent.address }}</p>
            <br />
        </div>
        <div>
            <div class="col-xs-6 text-center">Comments ({{ commentList.length }})</div>
            <div class="col-xs-6 text-center">Members ({{ detailEvent.members }})</div>
        </div>
    </div>
    <div class="comment-section">
        <div class="comment-piece" ng-repeat="item in commentList">
            <div ng-if="item.isSelf" class="col-xs-12">
                <div class="col-xs-10">
                    <div class="comment arrow-right">
                        {{ item.comment }}
                    </div>
                    <div class="text-left" style="margin-bottom: 20px">{{item.commentDate}}</div>
                </div>
                <div class="col-xs-2 text-center" style="padding-left:0;">
                    <img class="comment-avatar img-circle" src="./images/avatar.png">
                    <div>{{item.firstName.first_name}}</div>
                </div>
            </div>

            <div ng-if="!item.isSelf" class="col-xs-12">
                <div class="col-xs-2 text-center">
                    <img class="comment-avatar img-circle" src="./images/avatar.png">
                    <div>{{item.firstName.first_name}}</div>
                </div>
                <div class="col-xs-10">
                    <div class="comment arrow-left">
                        {{ item.comment }}
                    </div>
                    <div class="text-right" style="margin-bottom: 20px">{{item.commentDate}}</div>
                </div>
            </div>
        </div>
    </div>
    <div style="clear: both"></div>
    <div class="input-group" style="margin-top: 20px">
        <input type="text" class="form-control" placeholder="Enter comment" maxlength="140" ng-model="comment">
        <span class="input-group-btn">
            <a class="btn btn-default" href="javascript:void(0);" ng-click="addComment()">Send</a>
        </span>
    </div>
</div>
</div>