<div id="container" class="container container-top text-center" ng-init="init()">
    <!-- LOGIN -->
    <h4 class="text-center">{{ profile.profile.first_name }}&nbsp;{{ profile.profile.last_name }}</h4>
    <div class="col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
        <button class="btn btn-primary btn-block" onclick="location.href='#/alert'">Alerts <span class="badge">42</span></button>
        <button class="btn btn-primary btn-block" onclick="location.href='#/event-list'">Calendar</button>
        <button class="btn btn-primary btn-block" onclick="location.href='#/setting'">Setting</button>
    </div>
</div>