<div id="container" class="container container-top">
    <div>
        <div class="col-xs-4 text-left">
            <ul class="pager mb10">
                <li class="previous"><a href="#/main">Back</a></li>
            </ul>
        </div>
        <div class="col-xs-4 text-center">
            <h3 class="text-center">Setting</h3>
        </div>
    </div>
</div>
<div>
    <hr class="hr-margin" />
</div>
<div class="container">
    <form name="myForm">
        <div class="form-group">
            <label class="control-label">First Name</label>
            <input class="form-control" name="firstName" placeholder="First Name" ng-model="profile.profile.first_name" reqruied="true"/>
        </div>
        <div class="form-group">
            <label class="control-label">Last Name</label>
            <input class="form-control" name="lastName" placeholder="Last Name" ng-model="profile.profile.last_name" reqruied="true"/>
        </div>
        <div class="form-group">
            <label class="control-label">Groups</label>
            <div>
                <label ng-repeat="gr in groupList">
                    <input
                        type="checkbox"
                        value="{{ gr.$id }}"
                        ng-checked="selectedGroup.indexOf(gr.$id) > -1"
                        ng-click="toggleGroupSelection(gr.$id)"
                    > {{ gr.details.groupName }}
                </label>
            </div>
        </div>
        <br />
        <button type="submit" class="btn btn-primary btn-block" ng-click="submitSetting()">Submit</button>
    </form>
</div>
